![02](02.png)

http://data.seoul.go.kr/ 네이버

In [1]:
import pandas as pd

In [6]:
dates = pd.date_range('20190301', periods=6)

In [7]:
dates

DatetimeIndex(['2019-03-01', '2019-03-02', '2019-03-03', '2019-03-04',
               '2019-03-05', '2019-03-06'],
              dtype='datetime64[ns]', freq='D')

In [8]:
import numpy as np

In [10]:
df = pd.DataFrame(np.random.randn(6,4), index = dates, columns=['A','B','C','D'])

In [11]:
df

                   A         B         C         D
2019-03-01  2.015909  1.164250 -0.703318 -0.427617
2019-03-02 -0.219913 -0.955241  2.914701  0.923429
2019-03-03  2.139962  0.500597 -0.103927  0.066631
2019-03-04 -0.346413 -0.490518 -0.837185  0.571429
2019-03-05 -0.981355  0.334289  0.276945 -0.419270
2019-03-06 -0.390545 -1.061330  1.497945 -0.307043

In [12]:
type(df)

pandas.core.frame.DataFrame

In [13]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [14]:
df.index

DatetimeIndex(['2019-03-01', '2019-03-02', '2019-03-03', '2019-03-04',
               '2019-03-05', '2019-03-06'],
              dtype='datetime64[ns]', freq='D')

In [15]:
df.values

array([[ 2.0159091 ,  1.16425018, -0.70331813, -0.42761688],
       [-0.2199126 , -0.95524098,  2.91470121,  0.92342878],
       [ 2.13996175,  0.50059745, -0.10392672,  0.06663143],
       [-0.34641285, -0.49051751, -0.83718482,  0.57142858],
       [-0.98135531,  0.33428948,  0.27694505, -0.41926978],
       [-0.390545  , -1.06132997,  1.49794539, -0.30704329]])

In [17]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.369608 -0.084659  0.507527  0.067926
std    1.349638  0.889307  1.447540  0.567261
min   -0.981355 -1.061330 -0.837185 -0.427617
25%   -0.379512 -0.839060 -0.553470 -0.391213
50%   -0.283163 -0.078114  0.086509 -0.120206
75%    1.456954  0.459020  1.192695  0.445229
max    2.139962  1.164250  2.914701  0.923429