In [1]:
import pandas as pd

In [2]:
dates = pd.date_range('20190301', periods=6)

In [3]:
dates

DatetimeIndex(['2019-03-01', '2019-03-02', '2019-03-03', '2019-03-04',
               '2019-03-05', '2019-03-06'],
              dtype='datetime64[ns]', freq='D')

In [4]:
import numpy as np

In [5]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=['A','B','C','D'])

In [6]:
df

                   A         B         C         D
2019-03-01 -0.522556 -0.606164 -0.284981  0.199240
2019-03-02 -0.231105 -0.788873  0.183548 -1.438169
2019-03-03  0.131637 -1.134834 -0.117919 -2.172682
2019-03-04  1.128570  0.102010  1.165897 -0.872408
2019-03-05 -1.071642  0.288829  0.049089  0.276203
2019-03-06  0.695098  1.440683  0.509025 -0.240823

In [7]:
type(df)

pandas.core.frame.DataFrame

In [8]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [9]:
df.index

DatetimeIndex(['2019-03-01', '2019-03-02', '2019-03-03', '2019-03-04',
               '2019-03-05', '2019-03-06'],
              dtype='datetime64[ns]', freq='D')

In [10]:
df.values

array([[-0.52255633, -0.6061642 , -0.28498059,  0.19923978],
       [-0.23110496, -0.78887272,  0.18354791, -1.43816869],
       [ 0.13163719, -1.13483354, -0.11791858, -2.17268239],
       [ 1.12857042,  0.1020103 ,  1.16589684, -0.87240786],
       [-1.07164175,  0.28882891,  0.04908929,  0.27620337],
       [ 0.69509779,  1.44068325,  0.5090249 , -0.2408233 ]])

In [11]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.021667 -0.116391  0.250777 -0.708107
std    0.805759  0.934421  0.523891  0.971130
min   -1.071642 -1.134834 -0.284981 -2.172682
25%   -0.449693 -0.743196 -0.076167 -1.296728
50%   -0.049734 -0.252077  0.116319 -0.556616
75%    0.554233  0.242124  0.427656  0.089224
max    1.128570  1.440683  1.165897  0.276203

In [12]:
df.sort_values(by='A')

                   A         B         C         D
2019-03-05 -1.071642  0.288829  0.049089  0.276203
2019-03-01 -0.522556 -0.606164 -0.284981  0.199240
2019-03-02 -0.231105 -0.788873  0.183548 -1.438169
2019-03-03  0.131637 -1.134834 -0.117919 -2.172682
2019-03-06  0.695098  1.440683  0.509025 -0.240823
2019-03-04  1.128570  0.102010  1.165897 -0.872408

In [13]:
df.sort_values(by='A', ascending=False)

                   A         B         C         D
2019-03-04  1.128570  0.102010  1.165897 -0.872408
2019-03-06  0.695098  1.440683  0.509025 -0.240823
2019-03-03  0.131637 -1.134834 -0.117919 -2.172682
2019-03-02 -0.231105 -0.788873  0.183548 -1.438169
2019-03-01 -0.522556 -0.606164 -0.284981  0.199240
2019-03-05 -1.071642  0.288829  0.049089  0.276203

In [14]:
df['A']

2019-03-01   -0.522556
2019-03-02   -0.231105
2019-03-03    0.131637
2019-03-04    1.128570
2019-03-05   -1.071642
2019-03-06    0.695098
Freq: D, Name: A, dtype: float64

In [15]:
type(df['A'])

pandas.core.series.Series

In [16]:
df[0:2]

                   A         B         C         D
2019-03-01 -0.522556 -0.606164 -0.284981  0.199240
2019-03-02 -0.231105 -0.788873  0.183548 -1.438169

In [17]:
df.loc['2019-03-03']

A    0.131637
B   -1.134834
C   -0.117919
D   -2.172682
Name: 2019-03-03 00:00:00, dtype: float64

In [18]:
df.loc['2019-03-02','C']

0.1835479124454859

In [19]:
df.loc['2019-03-01':'2019-03-03	',['A','B']]

                   A         B
2019-03-01 -0.522556 -0.606164
2019-03-02 -0.231105 -0.788873
2019-03-03  0.131637 -1.134834

In [20]:
df.loc[:,['A','B']] #

                   A         B
2019-03-01 -0.522556 -0.606164
2019-03-02 -0.231105 -0.788873
2019-03-03  0.131637 -1.134834
2019-03-04  1.128570  0.102010
2019-03-05 -1.071642  0.288829
2019-03-06  0.695098  1.440683

In [21]:
df.iloc[0:] #iloc 는 숫자로 함

                   A         B         C         D
2019-03-01 -0.522556 -0.606164 -0.284981  0.199240
2019-03-02 -0.231105 -0.788873  0.183548 -1.438169
2019-03-03  0.131637 -1.134834 -0.117919 -2.172682
2019-03-04  1.128570  0.102010  1.165897 -0.872408
2019-03-05 -1.071642  0.288829  0.049089  0.276203
2019-03-06  0.695098  1.440683  0.509025 -0.240823

In [22]:
df.iloc[0:2,0:] #앞에 숫자는 행 날짜 뒤에 숫자는 열 갯수

                   A         B         C         D
2019-03-01 -0.522556 -0.606164 -0.284981  0.199240
2019-03-02 -0.231105 -0.788873  0.183548 -1.438169

In [23]:
df['A']>0 #A값이 0보다 크다 작다

2019-03-01    False
2019-03-02    False
2019-03-03     True
2019-03-04     True
2019-03-05    False
2019-03-06     True
Freq: D, Name: A, dtype: bool

In [24]:
df[df['A']>0] #A의 값이 0보다 크면 전부 출력

                   A         B         C         D
2019-03-03  0.131637 -1.134834 -0.117919 -2.172682
2019-03-04  1.128570  0.102010  1.165897 -0.872408
2019-03-06  0.695098  1.440683  0.509025 -0.240823

In [25]:
df>0 #0보다 크다 작다 출력

                A      B      C      D
2019-03-01  False  False  False   True
2019-03-02  False  False   True  False
2019-03-03   True  False  False  False
2019-03-04   True   True   True  False
2019-03-05  False   True   True   True
2019-03-06   True   True   True  False

In [26]:
df[df>0] #0보다 크면 값출력 작으면 nan출력

                   A         B         C         D
2019-03-01       NaN       NaN       NaN  0.199240
2019-03-02       NaN       NaN  0.183548       NaN
2019-03-03  0.131637       NaN       NaN       NaN
2019-03-04  1.128570  0.102010  1.165897       NaN
2019-03-05       NaN  0.288829  0.049089  0.276203
2019-03-06  0.695098  1.440683  0.509025       NaN

In [27]:
df2 = pd.DataFrame(df, columns=['A','C','D','B'])
df2

                   A         C         D         B
2019-03-01 -0.522556 -0.284981  0.199240 -0.606164
2019-03-02 -0.231105  0.183548 -1.438169 -0.788873
2019-03-03  0.131637 -0.117919 -2.172682 -1.134834
2019-03-04  1.128570  1.165897 -0.872408  0.102010
2019-03-05 -1.071642  0.049089  0.276203  0.288829
2019-03-06  0.695098  0.509025 -0.240823  1.440683

In [28]:
df['E'] = np.nan #df에 e 를 nan 으로 추가
df

                   A         B         C         D   E
2019-03-01 -0.522556 -0.606164 -0.284981  0.199240 NaN
2019-03-02 -0.231105 -0.788873  0.183548 -1.438169 NaN
2019-03-03  0.131637 -1.134834 -0.117919 -2.172682 NaN
2019-03-04  1.128570  0.102010  1.165897 -0.872408 NaN
2019-03-05 -1.071642  0.288829  0.049089  0.276203 NaN
2019-03-06  0.695098  1.440683  0.509025 -0.240823 NaN

In [29]:
df.loc['2019-03-02','E']=2 #3-2일에 2컬럼에 데이터2 넣음
df

                   A         B         C         D    E
2019-03-01 -0.522556 -0.606164 -0.284981  0.199240  NaN
2019-03-02 -0.231105 -0.788873  0.183548 -1.438169  2.0
2019-03-03  0.131637 -1.134834 -0.117919 -2.172682  NaN
2019-03-04  1.128570  0.102010  1.165897 -0.872408  NaN
2019-03-05 -1.071642  0.288829  0.049089  0.276203  NaN
2019-03-06  0.695098  1.440683  0.509025 -0.240823  NaN

In [30]:
df['F']=df['A']+df['B'] #f라는 칼럼의 값은 a와 b값의 합
df

                   A         B         C         D    E         F
2019-03-01 -0.522556 -0.606164 -0.284981  0.199240  NaN -1.128721
2019-03-02 -0.231105 -0.788873  0.183548 -1.438169  2.0 -1.019978
2019-03-03  0.131637 -1.134834 -0.117919 -2.172682  NaN -1.003196
2019-03-04  1.128570  0.102010  1.165897 -0.872408  NaN  1.230581
2019-03-05 -1.071642  0.288829  0.049089  0.276203  NaN -0.782813
2019-03-06  0.695098  1.440683  0.509025 -0.240823  NaN  2.135781

In [33]:
!pip install xlrd

Requirement already satisfied: xlrd in c:\programdata\anaconda3\lib\site-packages (2.0.1)

In [41]:
pd.read_excel("./data/teen.xls") #./는 현재 디렉토리

FileNotFoundError: [Errno 2] No such file or directory: './data/teen.xls'

In [36]:
pd.read_excel("./data/teen.xls", header=1) #첫번째 해더는 날린다는 뜻

FileNotFoundError: [Errno 2] No such file or directory: './data/teen.xls'

In [37]:
pd.read_excel("./data/teen.xls", header=1, usecols="C:K") #usecols C부터 k컬럼까지 만 데이터를 읽겠다 기간 = A

FileNotFoundError: [Errno 2] No such file or directory: './data/teen.xls'

In [38]:
col_names=['스트레스', '스트레스남학생', '스트레스여학생', '우울감경험율', '우울남학생', '우울여학생', '자살생각율', '자살남학생','자살여학생']

pd.read_excel("./data/teen.xls", header=1, usecols="C:K", names=col_names) #C부터 k까지 특정이름으로 변경

FileNotFoundError: [Errno 2] No such file or directory: './data/teen.xls'

In [39]:
raw_data = pd.read_excel("./data/teen.xls", header=1, usecols="C:K", names=col_names)
raw_data

FileNotFoundError: [Errno 2] No such file or directory: './data/teen.xls'

In [40]:
raw_data.loc[1] = 100 - raw_data.loc[0]
raw_data #100에서 뺀값을 넣음

NameError: name 'raw_data' is not defined