In [15]:
import pandas as pd

In [16]:
practice = pd.DataFrame({'날짜':[],'운동':[],'양':[]})
practice

Empty DataFrame
Columns: [날짜, 운동, 양]
Index: []

In [17]:
practice.loc[0]=['19-3-1', '달리기', 1.]
practice

       날짜   운동    양
0  19-3-1  달리기  1.0

In [18]:
practice.loc[1]=['19-3-2', '걷기', 1.]
practice.loc[2]=['19-3-2', '달리기', 1.]
practice.loc[3]=['19-3-2', '계단오르기', 1.]
practice

       날짜     운동    양
0  19-3-1    달리기  1.0
1  19-3-2     걷기  1.0
2  19-3-2    달리기  1.0
3  19-3-2  계단오르기  1.0

In [19]:
practice.loc[4]=['19-3-3', '걷기', 1.5]
practice.loc[5]=['19-3-3', '달리기', 1.]

practice

       날짜     운동    양
0  19-3-1    달리기  1.0
1  19-3-2     걷기  1.0
2  19-3-2    달리기  1.0
3  19-3-2  계단오르기  1.0
4  19-3-3     걷기  1.5
5  19-3-3    달리기  1.0

In [20]:
practice.to_csv("./data/practice.csv", encoding='utf-8')

FileNotFoundError: [Errno 2] No such file or directory: './data/practice.csv'